@font-face {
  font-family: "Caudex";
  src: url("/fonts/caudex-regular.woff2") format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Caudex";
  src: url("/fonts/caudex-bold.woff2") format('truetype');
  font-weight: 700;
  font-display: swap;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Caudex';
}
button{
  font-family: 'Caudex';
  
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
