@font-face {
  font-family: "Caudex";
  src: url("/fonts/Caudex-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Caudex";
  src: url("/fonts/Caudex-Bold.ttf");
  font-weight: 700;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Caudex';
}
button{
  font-family: 'Caudex';
  
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
